<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>El Tech Blog</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <body>
    <div class="wrapper">
      <header class="hero">
        <h1 class="app-title">
          <a href="/">El Tech Blog</a>
        </h1>
        <nav>
          {{#if loggedIn}}
          <a class="logIn-btn" href="/dashboard">dashboard</a>
          <button id="logout" class="logIn-btn">logout</button>
          {{else}}
          <a class="logIn-btn" href="/login">login</a>
          {{/if}}
        </nav>
      </header>
      <main>
        {{{body}}}
      </main>
      <footer>
        Thanks for visiting!
      </footer>
    </div>
    {{#if loggedIn}}
    <script src="/javascript/logout.js"></script>
    {{/if}}
  </body>

</html>